form{
  padding: 10px;
  background-color: rgba(245, 244, 242, 0.221);
  border-radius: 10px;
}

label{
  /* color: white; */
  font-size: 20px;
  padding: 5px;
}

input {
  border-radius: 8px;
  background-color: rgb(245, 245, 245);
  border: 2px solid rgb(240, 232, 232);
  padding: 4px 8px !important;
}

#submit-btn{
  padding: 0;
  border: none;
  background-color: rgb(253, 92, 124);
  /* width: fit-content; */
  /* margin: auto; */
  font-size: 20px;
  padding: 10px;
  margin-top: 10px;
}

img{
  width:300px;
  margin:10px;
}